<h2>name works!</h2>
<!-- <h1 class="custom">{{my_data}}</h1> -->

<!-- <input type="text" name="user-name" value="{{data}}" disabled="{{disable}}">
<br>
<br>
<input type="text" name="user-name" [value]="data" [disabled]="disable"> -->

<!-- <h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
    <h1>If condition</h1>
</ng-template>

<ng-template #elseBlock>
    <h1>Else condition</h1>
</ng-template> -->

<!-- <ng-template [ngIf]="color=='red'">
    <h1 style="color:red">Red</h1>
</ng-template>
<ng-template [ngIf]="color=='blue'">
    <h1 style="color:blue">Blue</h1>
</ng-template>
<ng-template [ngIf]="color=='green'">
    <h1 style="color:green">Green</h1>
</ng-template> -->

<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'">Red Color</h1>
    <h1 *ngSwitchCase="'blue'">Blue Color</h1>
    <h1 *ngSwitchCase="'green'">Green Color</h1>
    <h1 *ngSwitchCase="'yellow'">Yellow Color</h1>
    <h1 *ngSwitchDefault>Unknown Color</h1>
</div> -->


